<div class="modal fade" id="ModalFiltersForm" tabindex="-1" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content apply-job-form">
      <div class="modal-header">
        <h5 class="modal-title color-gray-1000 filters-icon">Addvance Fillters</h5>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-30">
        <div class="row">
          <div class="col-w-1">
            <h6 class="color-gray-900 mb-0">Brands</h6>
            <ul class="list-checkbox">
              <li>
                <label class="cb-container">
                  <input type="checkbox" checked="checked"><span class="text-small">Apple</span><span
                    class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="cb-container">
                  <input type="checkbox"><span class="text-small">Samsung</span><span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="cb-container">
                  <input type="checkbox"><span class="text-small">Baseus</span><span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="cb-container">
                  <input type="checkbox"><span class="text-small">Remax</span><span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="cb-container">
                  <input type="checkbox"><span class="text-small">Handtown</span><span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="cb-container">
                  <input type="checkbox"><span class="text-small">Elecom</span><span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="cb-container">
                  <input type="checkbox"><span class="text-small">Razer</span><span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="cb-container">
                  <input type="checkbox"><span class="text-small">Auto Focus</span><span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="cb-container">
                  <input type="checkbox"><span class="text-small">Nillkin</span><span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="cb-container">
                  <input type="checkbox"><span class="text-small">Logitech</span><span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="cb-container">
                  <input type="checkbox"><span class="text-small">ChromeBook</span><span class="checkmark"></span>
                </label>
              </li>
            </ul>
          </div>
          <div class="col-w-1">
            <h6 class="color-gray-900 mb-0">Special offers</h6>
            <ul class="list-checkbox">
              <li>
                <label class="cb-container">
                  <input type="checkbox"><span class="text-small">On sale</span><span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="cb-container">
                  <input type="checkbox" checked="checked"><span class="text-small">FREE shipping</span><span
                    class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="cb-container">
                  <input type="checkbox"><span class="text-small">Big deals</span><span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="cb-container">
                  <input type="checkbox"><span class="text-small">Shop Mall</span><span class="checkmark"></span>
                </label>
              </li>
            </ul>
            <h6 class="color-gray-900 mb-0 mt-40">Ready to ship in</h6>
            <ul class="list-checkbox">
              <li>
                <label class="cb-container">
                  <input type="checkbox"><span class="text-small">1 business day</span><span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="cb-container">
                  <input type="checkbox" checked="checked"><span class="text-small">1&ndash;3 business days</span><span
                    class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="cb-container">
                  <input type="checkbox"><span class="text-small">in 1 week</span><span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="cb-container">
                  <input type="checkbox"><span class="text-small">Shipping now</span><span class="checkmark"></span>
                </label>
              </li>
            </ul>
          </div>
          <div class="col-w-1">
            <h6 class="color-gray-900 mb-0">Ordering options</h6>
            <ul class="list-checkbox">
              <li>
                <label class="cb-container">
                  <input type="checkbox"><span class="text-small">Accepts gift cards</span><span
                    class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="cb-container">
                  <input type="checkbox"><span class="text-small">Customizable</span><span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="cb-container">
                  <input type="checkbox" checked="checked"><span class="text-small">Can be gift-wrapped</span><span
                    class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="cb-container">
                  <input type="checkbox"><span class="text-small">Installment 0%</span><span class="checkmark"></span>
                </label>
              </li>
            </ul>
            <h6 class="color-gray-900 mb-0 mt-40">Rating</h6>
            <ul class="list-checkbox">
              <li class="mb-5"><a href="#"><img src="assets/imgs/template/icons/star.svg" alt="Ecom"><img
                    src="assets/imgs/template/icons/star.svg" alt="Ecom"><img src="assets/imgs/template/icons/star.svg"
                    alt="Ecom"><img src="assets/imgs/template/icons/star.svg" alt="Ecom"><img
                    src="assets/imgs/template/icons/star.svg" alt="Ecom"><span
                    class="ml-10 font-xs color-gray-500 d-inline-block align-top">(5 stars)</span></a></li>
              <li class="mb-5"><a href="#"><img src="assets/imgs/template/icons/star.svg" alt="Ecom"><img
                    src="assets/imgs/template/icons/star.svg" alt="Ecom"><img src="assets/imgs/template/icons/star.svg"
                    alt="Ecom"><img src="assets/imgs/template/icons/star.svg" alt="Ecom"><img
                    src="assets/imgs/template/icons/star-gray.svg" alt="Ecom"><span
                    class="ml-10 font-xs color-gray-500 d-inline-block align-top">(4 stars)</span></a></li>
              <li class="mb-5"><a href="#"><img src="assets/imgs/template/icons/star.svg" alt="Ecom"><img
                    src="assets/imgs/template/icons/star.svg" alt="Ecom"><img src="assets/imgs/template/icons/star.svg"
                    alt="Ecom"><img src="assets/imgs/template/icons/star-gray.svg" alt="Ecom"><img
                    src="assets/imgs/template/icons/star-gray.svg" alt="Ecom"><span
                    class="ml-10 font-xs color-gray-500 d-inline-block align-top">(3 stars)</span></a></li>
              <li class="mb-5"><a href="#"><img src="assets/imgs/template/icons/star.svg" alt="Ecom"><img
                    src="assets/imgs/template/icons/star.svg" alt="Ecom"><img
                    src="assets/imgs/template/icons/star-gray.svg" alt="Ecom"><img
                    src="assets/imgs/template/icons/star-gray.svg" alt="Ecom"><img
                    src="assets/imgs/template/icons/star-gray.svg" alt="Ecom"><span
                    class="ml-10 font-xs color-gray-500 d-inline-block align-top">(2 stars)</span></a></li>
              <li class="mb-5"><a href="#"><img src="assets/imgs/template/icons/star.svg" alt="Ecom"><img
                    src="assets/imgs/template/icons/star-gray.svg" alt="Ecom"><img
                    src="assets/imgs/template/icons/star-gray.svg" alt="Ecom"><img
                    src="assets/imgs/template/icons/star-gray.svg" alt="Ecom"><img
                    src="assets/imgs/template/icons/star-gray.svg" alt="Ecom"><span
                    class="ml-10 font-xs color-gray-500 d-inline-block align-top">(1 star)</span></a></li>
            </ul>
          </div>
          <div class="col-w-2">
            <h6 class="color-gray-900 mb-0">Material</h6>
            <ul class="list-checkbox">
              <li>
                <label class="cb-container">
                  <input type="checkbox"><span class="text-small">Nylon (8)</span><span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="cb-container">
                  <input type="checkbox"><span class="text-small">Tempered Glass (5)</span><span
                    class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="cb-container">
                  <input type="checkbox" checked="checked"><span class="text-small">Liquid Silicone Rubber
                    (5)</span><span class="checkmark"></span>
                </label>
              </li>
              <li>
                <label class="cb-container">
                  <input type="checkbox"><span class="text-small">Aluminium Alloy (3)</span><span
                    class="checkmark"></span>
                </label>
              </li>
            </ul>
            <h6 class="color-gray-900 mb-20 mt-40">Product tags</h6>
            <div><a class="btn btn-border mr-5" href="#">Games</a><a class="btn btn-border mr-5"
                href="#">Electronics</a><a class="btn btn-border mr-5" href="#">Video</a><a class="btn btn-border mr-5"
                href="#">Cellphone</a><a class="btn btn-border mr-5" href="#">Indoor</a><a class="btn btn-border mr-5"
                href="#">VGA Card</a><a class="btn btn-border mr-5" href="#">USB</a><a class="btn btn-border mr-5"
                href="#">Lightning</a><a class="btn btn-border mr-5" href="#">Camera</a></div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-start pl-30"><a class="btn btn-buy w-auto" href="#">Apply Fillter</a><a
          class="btn font-sm-bold color-gray-500" href="#">Reset Fillter</a></div>
    </div>
  </div>
</div>


<div class="modal fade" id="ModalQuickview" tabindex="-1" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content apply-job-form">
      <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body p-30">
        <div class="row">
          <div class="col-lg-6">
            <div class="gallery-image">
              <div class="galleries-2">
                <div class="detail-gallery">
                  <div class="product-image-slider-2">
                    <figure class="border-radius-10"><img src="/assets/imgs/page/product/img-gallery-1.jpg"
                        alt="product image"></figure>
                    <figure class="border-radius-10"><img src="/assets/imgs/page/product/img-gallery-2.jpg"
                        alt="product image"></figure>
                    <figure class="border-radius-10"><img src="/assets/imgs/page/product/img-gallery-3.jpg"
                        alt="product image"></figure>
                    <!-- <figure class="border-radius-10"><img src="/assets/imgs/page/product/img-gallery-4.jpg" alt="product image"></figure>
                      <figure class="border-radius-10"><img src="/assets/imgs/page/product/img-gallery-5.jpg" alt="product image"></figure>
                      <figure class="border-radius-10"><img src="/assets/imgs/page/product/img-gallery-6.jpg" alt="product image"></figure>
                      <figure class="border-radius-10"><img src="/assets/imgs/page/product/img-gallery-7.jpg" alt="product image"></figure> -->
                  </div>
                </div>
                <div class="slider-nav-thumbnails-2">
                  <div>
                    <div class="item-thumb"><img src="/assets/imgs/page/product/img-gallery-1.jpg" alt="product image">
                    </div>
                  </div>
                  <div>
                    <div class="item-thumb"><img src="/assets/imgs/page/product/img-gallery-2.jpg" alt="product image">
                    </div>
                  </div>
                  <div>
                    <div class="item-thumb"><img src="/assets/imgs/page/product/img-gallery-3.jpg" alt="product image">
                    </div>
                  </div>
                  <!--  <div>
                      <div class="item-thumb"><img src="/assets/imgs/page/product/img-gallery-4.jpg" alt="product image"></div>
                    </div>
                    <div>
                      <div class="item-thumb"><img src="/assets/imgs/page/product/img-gallery-5.jpg" alt="product image"></div>
                    </div>
                    <div>
                      <div class="item-thumb"><img src="/assets/imgs/page/product/img-gallery-6.jpg" alt="product image"></div>
                    </div>
                    <div>
                      <div class="item-thumb"><img src="/assets/imgs/page/product/img-gallery-7.jpg" alt="product image"></div>
                    </div> -->
                </div>
              </div>
            </div>
            <div class="box-tags">
              <div class="d-inline-block mr-25"><span class="font-sm font-medium color-gray-900">Catégorie:</span><a
                  class="link" href="#"> Femme</a></div>
              <!-- <div class="d-inline-block"><span class="font-sm font-medium color-gray-900">Tags:</span><a class="link" href="#">Love</a>,<a class="link" href="#">Smartphone</a></div> -->
            </div>
          </div>
          <div class="col-lg-6">
            <div class="product-info">
              <h5 class="mb-15">Ours en roses rouges et Carte personnalisable</h5>
              <!-- <div class="info-by"><span class="bytext color-gray-500 font-xs font-medium">by</span><a class="byAUthor color-gray-900 font-xs font-medium" href="shop-vendor-list.html"> Ecom Tech</a>
                  <div class="rating d-inline-block"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><span class="font-xs color-gray-500 font-medium"> (65 reviews)</span></div>
                </div> -->
              <div class="border-bottom pt-10 mb-20"></div>
              <div class="box-product-price">
                <h3 class="color-brand-3 price-main d-inline-block mr-10">1 800 Dzd</h3>
                <!-- <span class="color-gray-500 price-line font-xl line-througt">$3225.6</span> -->
              </div>
              <div class="product-description mt-10 color-gray-900">
                <p>Dites-lui que vous l'aimez avec cet ourson de roses rouges éternelles. C'est le cadeau idéal pour
                  signifier votre tendresse. Déclarez votre amour grâce à la personnalisation gratuite de la carte qui
                  l'accompagne.</p>
                <!-- <ul class="list-dot">
                    <li>8k super steady video</li>
                    <li>Nightography plus portait mode</li>
                    <li>50mp photo resolution plus bright display</li>
                    <li>Adaptive color contrast</li>
                    <li>premium design & craftmanship</li>
                    <li>Long lasting battery plus fast charging</li>
                  </ul> -->
              </div>
              <!-- <div class="box-product-color mt-10">
                  <p class="font-sm color-gray-900">Color:<span class="color-brand-2 nameColor">Pink Gold</span></p>
                  <ul class="list-colors">
                    <li class="disabled"><img src="/assets/imgs/page/product/img-gallery-1.jpg" alt="Ecom" title="Pink"></li>
                    <li><img src="/assets/imgs/page/product/img-gallery-2.jpg" alt="Ecom" title="Gold"></li>
                    <li><img src="/assets/imgs/page/product/img-gallery-3.jpg" alt="Ecom" title="Pink Gold"></li>
                    <li><img src="/assets/imgs/page/product/img-gallery-4.jpg" alt="Ecom" title="Silver"></li>
                    <li class="active"><img src="/assets/imgs/page/product/img-gallery-5.jpg" alt="Ecom" title="Pink Gold"></li>
                    <li class="disabled"><img src="/assets/imgs/page/product/img-gallery-6.jpg" alt="Ecom" title="Black"></li>
                    <li class="disabled"><img src="/assets/imgs/page/product/img-gallery-7.jpg" alt="Ecom" title="Red"></li>
                  </ul>
                </div> -->
              <!-- <div class="box-product-style-size mt-10">
                  <div class="row">
                    <div class="col-lg-12 mb-10">
                      <p class="font-sm color-gray-900">Style:<span class="color-brand-2 nameStyle">S22</span></p>
                      <ul class="list-styles">
                        <li class="disabled" title="S22 Ultra">S22 Ultra</li>
                        <li class="active" title="S22">S22</li>
                        <li title="S22 + Standing Cover">S22 + Standing Cover</li>
                      </ul>
                    </div>
                    <div class="col-lg-12 mb-10">
                      <p class="font-sm color-gray-900">Size:<span class="color-brand-2 nameSize">512GB</span></p>
                      <ul class="list-sizes">
                        <li class="disabled" title="1GB">1GB</li>
                        <li class="active" title="512 GB">512 GB</li>
                        <li title="256 GB">256 GB</li>
                        <li title="128 GB">128 GB</li>
                        <li class="disabled" title="64GB">64GB</li>
                      </ul>
                    </div>
                  </div>
                </div> -->
              <div class="buy-product mt-5">
                <p class="font-sm mb-10">Quantité</p>
                <div class="box-quantity">
                  <div class="input-quantity">
                    <input class="font-xl color-brand-3" type="text" value="1"><span class="minus-cart"></span><span
                      class="plus-cart"></span>
                  </div>
                  <div class="button-buy"><a class="btn btn-cart" href="#">Ajouter au panier</a><a class="btn btn-buy"
                      href="#">Acheter direct</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- delete -->
<div class="modal fade" id="confirmActionModal" tabindex="-1" aria-labelledby="confirmActionLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4" id="confirmActionLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="modal_text">Etes-vous sure de vouloir ... ?</p>
      </div>
      <div class="modal-footer w-100 align-items-center justify-content-around flex-wrap">
        <a type="button" class="btn btn-danger" data-bs-dismiss="modal">Non</a>
        <a type="button" class="btn btn-success">Oui</a>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="alert_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="alert_msg">
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>



<!-- add propertySize -->
<div class="modal fade" id="propertySize-add" tabindex="-1" aria-labelledby="propertySize-addLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4" id="propertySize-addLabel">Ajouter</h5>

        <button type="button" class="sa-close sa-close--modal" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>
      <div class="modal-body">
        <div class="row g-3 needs-validation">
          <div class="mb-2 col-md-12">
            <label for="property_name" class="form-label">Taille :</label>
            <input type="text" class="form-control" name="property_name" id="sizeName" required>
            <div class="invalid-feedback">
              Erreur
            </div>
          </div>
          <div class="modal-footer w-100 align-items-center justify-content-between flex-wrap">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
            <input type="submit" class="btn btn-success" onclick="sizeAdd()" value="Ajouter">
          </div>
        </div>
        <!-- <form class="" action="" id="form_add" method="post">
                <input type="submit" name="" value="envoyer">
              </form> -->
      </div>

    </div>
  </div>
</div>


<!-- add propertyColor -->
<div class="modal fade" id="propertyColor-add" tabindex="-1" aria-labelledby="propertyColor-addLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4" id="propertyColor-addLabel">Ajouter</h5>
        <button type="button" class="sa-close sa-close--modal" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>
      <div class="modal-body">
        <div class="row g-3 needs-validation">
          <div class="mb-2 col-md-12">
            <label for="property_name" class="form-label">Désignation couleur :</label>
            <input type="text" class="form-control" name="property_name" id="colorName" value="" required>
            <div class="invalid-feedback">
              Erreur
            </div>
          </div>
          <div class="mb-2 col-md-12">
            <label for="property_name" class="form-label">Couleur :</label>
            <input type="color" class="form-control" name="property_ref" id="colorRef" required>
            <div class="invalid-feedback">
              Erreur
            </div>
          </div>
          <div class="modal-footer w-100 align-items-center justify-content-between flex-wrap">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
            <input type="submit" class="btn btn-success" onclick="colorAdd()" value="Ajouter">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="loadingLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <div class="col-auto">
            <button class="btn btn-white" type="button" disabled="">
              <span class="spinner-border spinner-border-sm me-3" role="status" aria-hidden="true"></span>Loading...
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- add details -->
<div class="modal fade" id="detail_add" tabindex="-1" aria-labelledby="detail-addLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4" id="detail-addLabel">Ajouter</h5>

        <button type="button" class="sa-close sa-close--modal" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>
      <div class="modal-body">
        <% if (typeof(sub_category) != 'undefined' && sub_category.length > 0) { %>
        <form id="detail_form_add" method="post" action="/details/add" enctype="multipart/form-data">    
          <input type="hidden" value="<%= sub_category[0].sub_cat_id %>" name="sub_cat">  
          <div class="row g-3 needs-validation">
            <div class="mb-2 col-md-12">
              <label for="detail_name" class="form-label">Nom* :</label>
              <input type="text" class="form-control" name="detail_name" id="detail_name" required>
            </div>
            <div class="modal-footer w-100 align-items-center justify-content-between flex-wrap">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
              <input type="submit" class="btn btn-primary" value="Ajouter">           
            </div>
          </div>
        </form>
        <% } %>
      </div>

    </div>
  </div>
</div>


<!-- edit details -->
<div class="modal fade" id="detail_edit" tabindex="-1" aria-labelledby="detail-editLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4" id="detail-addLabel">Modifier</h5>

        <button type="button" class="sa-close sa-close--modal" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>
      <div class="modal-body">
        <% if (typeof(sub_category) != 'undefined' && sub_category.length > 0) { %>
        <form id="detail_form_edit" method="post" enctype="multipart/form-data">    
          <input type="hidden" value="<%= sub_category[0].sub_cat_id %>" name="sub_cat">  
          <div class="row g-3 needs-validation">
            <div class="mb-2 col-md-12">
              <label for="detail_name" class="form-label">Nom* :</label>
              <input type="text" class="form-control" name="detail_name" id="detail_name" required>
            </div>
            <div class="modal-footer w-100 align-items-center justify-content-between flex-wrap">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
              <input type="submit" class="btn btn-primary" value="Modifier">           
            </div>
          </div>
        </form>
        <% } %>
      </div>

    </div>
  </div>
</div>




<!-- add details -->
<div class="modal fade" id="product_details_add" tabindex="-1" aria-labelledby="product_details-addLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4" id="product_details-addLabel">Ajouter</h5>

        <button type="button" class="sa-close sa-close--modal" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>
      <div class="modal-body">
        <% if (typeof(product) != 'undefined' && product.length > 0) { %>
        <form id="product_details_form_add" method="post" action="/product/details/add" enctype="multipart/form-data">    
          <input type="hidden" value="<%= product[0].product_id %>" name="product_id">  
          <div class="row g-3 needs-validation">
          <div class="mb-2 col-md-12">
            <label for="detail_id" class="form-label">Détails* : <span style="color: gray;">Selectionner un detail</span></label>
            <select class="form-control font-sm" aria-label=".form-select-lg example" name="detail_id" required>
              <% if (typeof(details) !== 'undefined' && details.length > 0 ) { for (let i = 0; i < details.length; i++) { %>
                <option value="<%= details[i].detail_id %>"><%= details[i].detail_name %></option>
              <% }} %>
          </select>
          </div>
            <div class="mb-2 col-md-12">
              <label for="detail_desig" class="form-label">Description* :</label>
              <input type="text" class="form-control" name="detail_desig" id="detail_desig" required>
            </div>
            <div class="modal-footer w-100 align-items-center justify-content-between flex-wrap">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
              <input type="submit" class="btn btn-primary" value="Ajouter">           
            </div>
          </div>
        </form>
        <% } %>
      </div>

    </div>
  </div>
</div>



<!-- edit details -->
<div class="modal fade" id="product_details_edit" tabindex="-1" aria-labelledby="product_details-addLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4" id="product_details-addLabel">Modifier</h5>

        <button type="button" class="sa-close sa-close--modal" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>
      <div class="modal-body">
        <% if (typeof(product) != 'undefined' && product.length > 0) { %>
        <form id="product_details_form_edit" method="post" enctype="multipart/form-data">    
          <input type="hidden" value="<%= product[0].product_id %>" name="product_id">  
          <div class="row g-3 needs-validation">
            <div class="mb-2 col-md-12">
              <label for="detail_desig" class="form-label">Description* :</label>
              <input type="text" class="form-control" name="detail_desig" id="detail_desig" required>
            </div>
            <div class="modal-footer w-100 align-items-center justify-content-between flex-wrap">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
              <input type="submit" class="btn btn-primary" value="Modifier">           
            </div>
          </div>
        </form>
        <% } %>
      </div>

    </div>
  </div>
</div>
