<%- include ("layouts/header.ejs") %>
<div id="top" class="sa-app__body">
    <div class="mx-sm-2 px-2 px-sm-3 px-xxl-4 pb-6">
        <div class="container">
            <div class="py-5">
                <div class="row g-4 align-items-center">
                    <div class="col">
                        <h1 class="h3 m-0">Liste des prix livraison</h1>
                    </div>
                    <!-- <div class="col-auto d-flex"></div> -->
                </div>
            </div>
            <div class="card">
                <div class="p-4"><input type="text" placeholder="Rechercher ..."
                        class="form-control form-control--search mx-auto" id="table-search" /></div>
                <div class="sa-divider"></div>
                <table class="sa-datatables-init" data-order="[]"
                    data-sa-search-input="#table-search">
                    <thead>
                        <tr>
                            
                            <th>Wilaya</th>
                            <th>Prix a domicile</th>
                            <th>Prix point de relais</th>
                            <th class="w-min" data-orderable="false"></th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        <% if (typeof(delivery_price) !== 'undefined' && delivery_price != null && delivery_price.length > 0) { 
             
                            for (var i = 0; i < delivery_price.length; i++)
                            
                            {
                          
                          %>
                        <tr>

                            <td><%= delivery_price[i].wilaya_id +" - "+ delivery_price[i].wilaya_name %></td>
                            <td>                          
                                <div class="d-flex justify-content-start align-items-center gap-2">
                                    
                                    <input type="number" class="form-control id<%= delivery_price[i].wilaya_id%>" style="width: 200px;"
                                    value="<%= delivery_price[i].price_home %>">
                                    <button class="btn btn-success"
                                    onclick="updateDeliveryPrice(<%= delivery_price[i].wilaya_id%>,document.querySelector('.id<%= delivery_price[i].wilaya_id%>').value,1)">Modifier</button>

                                </div>
                            </td>
                            <td>                          
                                <div class="d-flex justify-content-start align-items-center gap-2">
                                    
                                    <input type="text" class="form-control ir<%= delivery_price[i].wilaya_id%>" style="width: 200px;"
                                    value="<%= delivery_price[i].price_relay %>">
                                    <button class="btn btn-success"
                                    onclick="updateDeliveryPrice(<%= delivery_price[i].wilaya_id%>,document.querySelector('.ir<%= delivery_price[i].wilaya_id%>').value,2)">
                                    Modifier</button>

                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <% }} %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!-- sa-app__body / end --><!-- sa-app__footer -->
<%- include ("layouts/footer.ejs") %>
<%- include ("layouts/modal.ejs") %>
