<%- include ("layouts/header.ejs") %>
<div id="top" class="sa-app__body">
    <div class="mx-sm-2 px-2 px-sm-3 px-xxl-4 pb-6">
        <div class="container">
            <div class="py-5">
                <div class="row g-4 align-items-center">
                    <div class="col">
                        <h1 class="h3 m-0">Sous-catégories</h1>
                    </div>
                    <div class="col-auto d-flex"><a href="/sub_category/add" class="btn btn-primary">Ajouter une sous-catégorie</a></div>
                </div>
            </div>
            <div class="card">
                <div class="p-4"><input type="text" placeholder="Rechercher..."
                        class="form-control form-control--search mx-auto" id="table-search" /></div>
                <% if (typeof(err) != "undefined" && err != null && err == 1) { %>
                    <div class="alert alert-danger ms-4 me-4" role="alert">Echec de suppression de la sous-catégorie !</div>
                <% } else if (typeof(err) != "undefined" && err != null && err == 0) { %>
                    <div class="alert alert-success ms-4 me-4" role="alert">Succées !</div>
                <% } %>  
                <div class="sa-divider"></div>
                <table class="sa-datatables-init" data-order="[]"
                    data-sa-search-input="#table-search">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th class="min-w-15x">Nom</th>
                            <th>Catégorie</th>
                            <th>Article</th>
                            <th></th>
                            <th class="w-min" data-orderable="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (typeof(sub_category) !== 'undefined' && sub_category != null && sub_category.length > 0) { 
             
                            for (var i = 0; i < sub_category.length; i++)
                            
                            {
                          
                          %>
                        <tr>
                            <td> <div class="sa-symbol sa-symbol--shape--rounded sa-symbol--size--lg">
                                <img src="/img/sub_category/<%= sub_category[i].sub_cat_id %>/main.jpg" width="40" height="40"
                                    alt="" />
                            </div></td>
                            <td class="text-reset"><%= sub_category[i].sub_cat_name %></td>
                            <td class="text-reset"><%= sub_category[i].cat_name %></td>
                            <td><%= sub_category[i].product_count %></td>
                            <td><a href="/details/list?cat=<%= sub_category[i].sub_cat_id %>" class="btn btn-dark">Détails <i class='fas fa-file-alt ms-2'></i></a></td>
                            <td>
                                <div class="dropdown"><button class="btn btn-sa-muted btn-sm" type="button"
                                        id="category-context-menu-0" data-bs-toggle="dropdown" aria-expanded="false"
                                        aria-label="More"><svg xmlns="http://www.w3.org/2000/svg" width="3" height="13"
                                            fill="currentColor">
                                            <path
                                                d="M1.5,8C0.7,8,0,7.3,0,6.5S0.7,5,1.5,5S3,5.7,3,6.5S2.3,8,1.5,8z M1.5,3C0.7,3,0,2.3,0,1.5S0.7,0,1.5,0 S3,0.7,3,1.5S2.3,3,1.5,3z M1.5,10C2.3,10,3,10.7,3,11.5S2.3,13,1.5,13S0,12.3,0,11.5S0.7,10,1.5,10z">
                                            </path>
                                        </svg></button>
                                    <ul class="dropdown-menu dropdown-menu-end"
                                        aria-labelledby="category-context-menu-0">
                                        <li><a class="dropdown-item" href="/sub_category/<%= sub_category[i].sub_cat_id %>/edit">Modifier</a></li>
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li><a class="dropdown-item text-danger" href="/sub_category/<%= sub_category[i].sub_cat_id %>/delete">Supprimer</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <% }} %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!-- sa-app__body / end --><!-- sa-app__footer -->
<%- include ("layouts/footer.ejs") %>